<%= form_for(@propostum) do |f| %>
  <% if @propostum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propostum.errors.count, "error") %> prohibited this propostum from being saved:</h2>

      <ul>
      <% @propostum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :preco %><br>
    <%= f.text_field :preco %>
  </div>
  <div class="field">
    <%= f.label :ID_Usuario %><br>
    <%= f.number_field :ID_Usuario %>
  </div>
  <div class="field">
    <%= f.label :ID_Concurso %><br>
    <%= f.number_field :ID_Concurso %>
  </div>
  <div class="field">
    <%= f.label :ID_Estado_Proposta %><br>
    <%= f.number_field :ID_Estado_Proposta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
