<h1>Listing industria</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @industria.each do |industrium| %>
      <tr>
        <td><%= industrium.nome %></td>
        <td><%= link_to 'Show', industrium %></td>
        <td><%= link_to 'Edit', edit_industrium_path(industrium) %></td>
        <td><%= link_to 'Destroy', industrium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Industrium', new_industrium_path %>
