<%= form_for(@provincia_concurso) do |f| %>
  <% if @provincia_concurso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provincia_concurso.errors.count, "error") %> prohibited this provincia_concurso from being saved:</h2>

      <ul>
      <% @provincia_concurso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_provincia %><br>
    <%= f.number_field :id_provincia %>
  </div>
  <div class="field">
    <%= f.label :id_concurso %><br>
    <%= f.number_field :id_concurso %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
