<p id="notice"><%= notice %></p>

<p>
  <strong>Id provincia:</strong>
  <%= @provincia_concurso.id_provincia %>
</p>

<p>
  <strong>Id concurso:</strong>
  <%= @provincia_concurso.id_concurso %>
</p>

<%= link_to 'Edit', edit_provincia_concurso_path(@provincia_concurso) %> |
<%= link_to 'Back', provincia_concursos_path %>
