<%= form_for(@industria_usuario) do |f| %>
  <% if @industria_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@industria_usuario.errors.count, "error") %> prohibited this industria_usuario from being saved:</h2>

      <ul>
      <% @industria_usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_industria %><br>
    <%= f.number_field :id_industria %>
  </div>
  <div class="field">
    <%= f.label :id_usuario %><br>
    <%= f.number_field :id_usuario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
