<p id="notice"><%= notice %></p>

<p>
  <strong>Id industria:</strong>
  <%= @industria_usuario.id_industria %>
</p>

<p>
  <strong>Id usuario:</strong>
  <%= @industria_usuario.id_usuario %>
</p>

<%= link_to 'Edit', edit_industria_usuario_path(@industria_usuario) %> |
<%= link_to 'Back', industria_usuarios_path %>
