<h1>Listing estado_proposta</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @estado_proposta.each do |estado_propostum| %>
      <tr>
        <td><%= estado_propostum.nome %></td>
        <td><%= link_to 'Show', estado_propostum %></td>
        <td><%= link_to 'Edit', edit_estado_propostum_path(estado_propostum) %></td>
        <td><%= link_to 'Destroy', estado_propostum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estado propostum', new_estado_propostum_path %>
