<div class="navbar navbar-inverse navbar-collapse collapsing">
  <ul class="nav navbar-nav">
    <li><a href="" style="font-size: large"><strong>Concursos</strong></a></li>
    <li><a href="">Indústria<span class="caret">    </span></a> </li>
    <li><a href="">Categoria<span class="caret">    </span></a></li>
    <li><a href="">Proprietário<span class="caret"> </span></a></li>
    <li><a href="">Criado<span class="caret">   </span></a></li>
    <li><a href="">Alvará<span class="caret">  </span></a> </li>
  </ul>
  <div class="pull-right btn-group">
    <%= link_to "Criar Novo", new_concurso_url, {:class => "btn btn-primary",:style => "margin: 8px" } %>
  </div>
</div>

<div id="results" class="container panel panel-default">

  <div id="results-header" class=" panel-body">
    <% if @concursos.any? %>
        <div class="pull-left">
            <p align="left"><%= pluralize(@concursos.count, 'Concurso encontrado.','Concursos encontrados.') %></p>
        </div>
        <div class="pull-right">
          <div class="btn-group" role="group">
            <button class="btn btn-default">Lista</button>
            <button class="btn btn-default">Matriz</button>
            <button class="btn btn-default">Tabela</button>
          </div>
        </div>
    <% else %>
        <p>Não existem resultados para mostrar.<br>Modifique os seus critérios de pesquisa e tente de novo.</p>
    <% end %>
  </div>

  <div id="results-body">
    <% @concursos.each do |concurso| %>
        <div class="col-sm-6">
          <div class="panel panel-default" id="concurso#<%= concurso.id %>" data-concurso="<%= concurso.attributes %>">
            <div class="panel-heading">
              <h2 class="panel-title"><%= concurso.titulo %></h2>
            </div>
            <div class="panel-body">
              <p align="left"><%= concurso.descricao[0..500] %></p>
              <div class="pull-right label label-default">
                <%= concurso.created_at.strftime('%D') %>
              </div>
            </div>
          </div>
        </div>

    <% end %>
  </div>
  <div id="results-footer">

  </div>
</div>
