<p id="notice"><%= notice %></p>

<p>
  <strong>Id provincia:</strong>
  <%= @provincia_emprego.id_provincia %>
</p>

<p>
  <strong>Id emprego:</strong>
  <%= @provincia_emprego.id_emprego %>
</p>

<%= link_to 'Edit', edit_provincia_emprego_path(@provincia_emprego) %> |
<%= link_to 'Back', provincia_empregos_path %>
