<h1>Listing industria_empregos</h1>

<table>
  <thead>
    <tr>
      <th>Id industria</th>
      <th>Id emprego</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @industria_empregos.each do |industria_emprego| %>
      <tr>
        <td><%= industria_emprego.id_industria %></td>
        <td><%= industria_emprego.id_emprego %></td>
        <td><%= link_to 'Show', industria_emprego %></td>
        <td><%= link_to 'Edit', edit_industria_emprego_path(industria_emprego) %></td>
        <td><%= link_to 'Destroy', industria_emprego, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Industria emprego', new_industria_emprego_path %>
