<p id="notice"><%= notice %></p>

<p>
  <strong>Id industria:</strong>
  <%= @industria_emprego.id_industria %>
</p>

<p>
  <strong>Id emprego:</strong>
  <%= @industria_emprego.id_emprego %>
</p>

<%= link_to 'Edit', edit_industria_emprego_path(@industria_emprego) %> |
<%= link_to 'Back', industria_empregos_path %>
