<p id="notice"><%= notice %></p>

<p>
  <strong>Id industria:</strong>
  <%= @industria_concurso.id_industria %>
</p>

<p>
  <strong>Id concurso:</strong>
  <%= @industria_concurso.id_concurso %>
</p>

<%= link_to 'Edit', edit_industria_concurso_path(@industria_concurso) %> |
<%= link_to 'Back', industria_concursos_path %>
