<!DOCTYPE html>
<html>
<head>
  <title>Projecto Portfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=".." style="font-family: monospace;">Portfólio |<small>Administração</small> </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="../concursos">Concursos</a></li>
        <li><a href="../empregos">Empregos</a></li>
      </ul>
      <% if usuario_signed_in? %>
          <div class="navbar-form navbar-right btn-group">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="icon-user"></span> <%= current_usuario.email.humanize %>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'Add User', new_usuario_registration_path, :class => 'navbar-link' %> </li>
              <li class="divider"></li>
              <li> <%= link_to 'Edit profile', edit_usuario_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Logout", destroy_usuario_session_path, method: :delete, :class => 'navbar-link'  %></li>
            </ul>
          </div>
          <%else%>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "navbar-form navbar-right"}) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', placeholder: 'Senha' %>
              </div>

              <div class="form-group">
                <%= f.submit "Entrar", class: 'btn btn-success' %>
              </div>
          <% end %>

          <%end%>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div style="min-height: 500px" align="center">
<%= yield%>
</div>

<footer class="footer">
  <div class="container">

    <table class="col-lg-5">
      <tbody>
      <tr>
        <td><a href="../usuarios/sign_in">Login</a></td>
        <td><a href="../usuarios/sign_up">Registro</a></td>
        <td><a>Sobre</a></td>
        <td><a>Contacto</a></td>
        <td><a>Pesquisa</a></td>
        <td><a>Ajuda</a></td>
      </tr>
      </tbody>
    </table>

    <br>
    <br>
    <p>Portfólio ©2015 - Todos os direitos reservados</p>  </div>
</footer>
</body>
</html>
